@use './partials/variables' as *;
@use './partials/mixins' as *;
@import "bootstrap/scss/bootstrap";

// PER TAG 
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
	font-family: 'Roboto';
	font-size: 14px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	@include flex-between;
}

a {
	text-decoration: none;
	color: white;
}

header,
main,
footer,
.bg-mydark {
	background-color: $dark;
}

h5,
h4,
h2,
button:not(#select) {
	font-weight: 700;
}

p {
	line-height: 24px;
}

// CLASSI 
.my-container {
	width: 77%;
	margin: 0 auto;
}

.border-secondary {
	border: $border-secondary
}

.debug {
	border: 1px solid red;
}

.color-green {
	color: $green-primary;
}

.text-grey {
	color: rgb(130, 134, 139)
}

.my-row-between {
	@include flex-between;
	width: 100%;
}

.col-right {
	text-align: right;
}

.font-md {
	font-size: 15px;
}

.list-column {
	flex-direction: column;
}

.dropdown-menu {
	min-width: 200px;
}