@use './partials/variables' as *;
@use './partials/mixins' as *;
@import "bootstrap/scss/bootstrap";

// PER TAG 
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
	font-family: 'Roboto';
	font-size: 14px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	@include flex-between;
}

a {
	text-decoration: none;
	color: white;
}

header,
main,
footer,
.bg-mydark {
	background-color: $dark;
}

h6,
h5,
h3,
h4,
h2,
button:not(#select) {
	font-weight: 700;
}

p {
	line-height: 24px;
}

button,
img,
li,
.label,
#send,
i,
a,
a * {
	transition: $in-out-4;
}

// CLASSI 
.my-container {
	width: 77%;
	margin: 0 auto;
}

.border-secondary {
	border: $border-secondary
}

.debug {
	border: 1px solid red;
}

.color-green {
	color: $green-primary;
}

.text-grey {
	color: rgb(130, 134, 139)
}

.my-row-between {
	@include flex-between;
	width: 100%;
}

.col-right {
	text-align: right;
}

.font-md {
	font-size: 15px;
}

.list-column {
	flex-direction: column;
}

.dropdown-menu {
	min-width: 200px;
}

.bg-mygreen {
	background-color: $green-primary;
}

.rounded-pill {
	border: none;
}

.section-header {
	padding-left: 1rem;
	padding-bottom: .75rem;
	border-bottom: $border-secondary;
	border-left: 2px solid $green-primary;
	margin-bottom: 4rem;
}

.my-card {
	position: relative;
	overflow: hidden;
}

.my-card>div {
	position: absolute;
	z-index: 2;
}

.my-card::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.label {
	padding: .75rem 1.2rem;
	cursor: pointer;
}

.left-label {
	left: 0;
	border-top-right-radius: 2rem;
	border-bottom-right-radius: 2rem;
}

.right-label {
	right: 0;
	border-top-left-radius: 2rem;
	border-bottom-left-radius: 2rem;
}

.bottom-label {
	bottom: 1.5rem;
	background-color: $dark;
}

//EFFETTI HOVER
.my-card:hover::after {
	background-color: rgba($green-primary, 0.25);
	background: linear-gradient(180deg, rgba($green-primary, 0.5) 5%, rgba($secondary, 0.9) 90%);
}

a:hover,
.movie-category:hover,
i:hover {
	color: $green-primary !important;

	& * {
		color: $green-primary !important;

	}
}

.white-hover:hover {
	background-color: white;
	color: black;
}

.bottom-label:hover {
	background-color: $green-primary;
}

#social-dots {
	a:hover {
		background-color: $secondary !important;
	}
}

.my-card:hover img {
	transform: scale(1.25);
}

#movie-cards {
	.movie-category {
		position: relative;

		&:after {
			content: "";
			width: 0px;
			height: 1px;
			left: 0;
			background: $green-primary;
			position: absolute;
			bottom: -2px;
			transition: width 0.4s ease-in-out;
		}

		&:hover:after {
			width: 100%;
		}
	}
}